<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Mihai Popescu">
  <meta name="description" content="Explore daily Bitcoin transaction volume and close prices with our interactive charts. Analyze BTC transaction size distribution for key insights.">

  <link href="{{ '/assets/css/w3.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <title>{{ page.title }}</title>
</head>

<body>

  <div class="w3-container w3-teal w3-padding-16">
      <h1>Crypto charts</h1>
      <p>Take informed decisions</p>
  </div>

  <div>
    {{ content }}
  </div>

</body>

</html>